@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    background-image: url(../fondos/pasajeros-fondo.jpg);
    background-size: cover;
}

.menu {
    list-style: none;
    padding: 0px;
    background: #e1d033;
    width: 90%;
    height: 54px;
    max-width: 1100px;
    margin: auto;
    border-radius: 1em;
}

.menu li a{
    text-decoration: none;
    color: #827870;
    padding:16px 20px;
    display:block;
}

.menu li{
    display: inline-block;
    text-align: center;
    padding: 0px 34px;
}

.menu li a:hover{
    background: #e37e15;
    border: 1em;
}

.formulario {
    margin: 50px 172px;
    /*background-color: rgba(0, 255, 255, 0.6);*/
    border-radius: 1em;
    padding: 20px;
    overflow: auto;
    display: inline-block;
    width: 1020px;
    text-align: center;
}

.formulario__usuario {
    float: right;
    background-color: #612d5c;
    height: 420px;
    padding: 50px 20px;
    margin-right: 40px;
    border-radius: .5em;
}

.formulario__usuario-titulo {
    font-size: 2rem;
    margin-bottom: .5em;
}

.formulario__crearUsuario {
    font-weight: 300px;
    margin-top: 20px;
}

.formulario__crear {
    font-weight: 400px;
    color: #ff7e99;
}

.formulario__crear:hover {
    color: #00d7ff;
}

.formulario__usuario-entorno{
    display: grid;
    gap: 50px;
}

.formulario__usuario-entorno-casillas {
    position: relative;
    --color: #b086c4;
}

.formulario__input{
    width:100%;
    background: none;
    color: #665f61;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto Slab', serif;
}

.formulario__input:not(:placeholder-shown){
    color: #6f6557;
}

.formulario__input:focus + .formulario__label, .formulario__input:not(:placeholder-shown) + .formulario__label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #ffad93;
}

.formulario__label{
    color:var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.formulario__submit {
    background: #a42d46;
    color: #dccfb5;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.formulario__linea{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #a12e00;
    transform: scale(0);
    transform: left bottom;
    transition: transform .5s;
}

.formulario__input:focus ~ .formulario__linea, .formulario__input:not(:placeholder-shown) ~ .formulario__linea{
    transform: scale(1);
}